body {
  background-color: #CED6D6;
  font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
  text-align: center;
}

.container {
  display: grid;
  display: flex;
  margin: auto;
}
.row {
  justify-content: center;
  align-items: center;
  width: 100%
}
.form-contained{
  justify-content: center;
  background-color: #7EA4A4;
  padding: 15px;
  border-radius: 30px;
}
.tdelement {
  background-color: red;
  padding: 60px;
  border-radius: 30px;
}
.contained-table {
  justify-content: center;
  align-items: center;
  background-color: #7E8C8C;
  padding: 40px;
  width: 100%;
}


.time {

}

.task {

}

.assignee {

}

.overdue {

}

.comment {

}

.todo-list {
  width: 100%
}
