body {
  background-color: #272323;
  font-family: 'Saira Semi Condensed', sans-serif;
  color: #BAAEAE;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

.container {
  display: grid;
  display: flex;
}

.contained {
  /* background-color: #191717; */
  padding: 10px;
  /* background-color: #1E5000; */ -- toggled color
}

table {
  background-color: #191717;
}
tr {
  border-bottom: 2pt solid #BAAEAE;
}
td{
  padding: 10px;
  /* background-color: #191717; */
}

.navbar {
	background-color: #555
	color: white;
	display: inline;
}

.navbar:hover {
	background-color: white;
	color: #555;
}

.todo-list {
  width: 100%;
}
