
body {
  background-color: #272323;
  font-family: 'Saira Semi Condensed', sans-serif;
  color: #BAAEAE;
}

h1 {
  text-align: center;
  margin-top: 20px;
}
table {
  background-color: #191717;
  width: 100%;
}
tr {
  border-bottom: 2pt solid #BAAEAE;
}
td{
  padding: 10px;
  /* background-color: #191717; */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}
.row{
  margin-bottom: 5px;
}
.contained {
  /* background-color: #191717; */
  padding: 10px;
  /* background-color: #1E5000; */ -- toggled color
}
.completed {
  background-color: #1E5000; */ -- toggled color
}


.userType {
  margin: 10px;
}
/* .submitcontain and .submit are for submit button in index.html */
.submitcontain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin: auto;
}
.submit {
  margin: 20px;
}
.navbar {
	background-color: #191717;
	color: #BAAEAE;
  text-decoration: none;
}

.navbar:hover {
	background-color: #191717;
  text-decoration: none;
	color: #BAAEAE;
}

.todo-list {
  width: 100%;
}

.form {
  background-color: #191717;
  padding: 30px;
  width: 100%;
  margin: 10px 10px 10px 10px;
  box-shadow: 4px 4px 3px black, -1px -1px 5px black;
}

 h4 {
   text-align: center;
   padding-bottom: 10px;
 }

.firstName {
  margin-bottom: 5px;
}
.lastName{
  margin-bottom: 5px;
}

/* index.html specific */
.big {
  background-image: url("https://images.unsplash.com/photo-1519847015009-d834259a181b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.index-div {
  margin-top: 100px;
  height: 250px;
  width: 300px;
  background-color: rgba(39,35,35, .75);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.index-h3 {
  margin-top: 10px;
  color: #BAAEAE;
}
.index-test {
  /* justify-content: center; */
  height: 250px;
  width: 300px;
  /* margin-top: 100px; */
}
.index-test input {
  width: 100%;
  height: 40px;
  align-items: center;
  border-radius: 10px;
  margin-top: 10px;
  background-color: #FFF8F6;
  color: #191717;
  padding-left: 5px;
  border: none;
  outline: none;
}
.index-test input:focus {
  background-color: #191717;
  color: #FFF8F6;
  outline: none;
}

.login-button {
  border-radius: 8px;
  text-decoration: none;
  padding: 10px;
  border: none;
  width: 50%;
  margin: 20px 0px 0px 67px;
  background-color: #4CAF50;
  color: white;
}

.login-button:hover {
  background-color: #15781B;
}

/* add_users.html specific */
body.userbackground {
  background: repeating-linear-gradient(
    45deg,
  #191717,
  #191717 10px,
  #272323 10px,
  #272323 30px
);
    )
}
.usersform {
  background-color: rgba(25,23,23, .75);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

form.usersbox {
  justify-content: center;
  align-content: center;

}
.usersform input {
  width: 25%;
  height: 40px;
  border-radius: 10px;
  margin-top: 10px;
  background-color: #FFF8F6;
  color: #191717;
  padding-left: 5px;
  border: none;
  outline: none;
}
.usersform input:focus {
  background-color: #272323;
  color: #FFF8F6;
  outline: none;
}
.adduserbutton {
  border-radius: 8px;
  text-decoration: none;
  padding: 10px;
  border: none;
  width: 10%;
  margin: 20px 0px 0px 67px;
  background-color: #4CAF50;
  color: white;
}
