<!-- ./templates/index.html -->
<html>
<head>
  <!-- link to the Todo MVC index.css file -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/editstyles.css">
  <link href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://js.pusher.com/4.1/pusher.min.js"></script>

  <!-- <script src="/static/to-do-script.js"></script> -->
  <title>Realtime Todo List</title>
</head>

<body onload="readItems()">
  <div class="navbar">
    <a class="navbar" href="/"> Index </a>
    <a class="navbar" href="/add-users"> Add Users </a>
  </div>

  <div class="container">
  <div class="row justify-content-md-center">

    <div class="w-100">
      <h1>Add User</h1>
    </div>

    <div class="form color">
      <form>
      <input class="firstName" placeholder="First Name" autofocus="" onkeypress="addItem(event)" >
      <input class="lastName" placeholder="Last Name" autofocus="" onkeypress="addItem(event)" > <br>
      <input class="addAdmin" type="radio" placeholder="Admin User"> Admin User
      <input class="addStandard" type="radio" placeholder="Standard User"> Standard User <br>
      <button type="submit"> Submit </button>

      </form>
    </div>




      <table class="todo-list" style="width: 100%"></table>


    <footer class="footer"></footer>
  </div>
  </div>





</body>
</html>
