<DOCTYPE! html>
<!-- ./templates/add_users.html -->
<html>
<head>
  <!-- link to the Todo MVC index.css file -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/editstyles.css">
  <link href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


  <script src="/static/to-do-script.js"></script>
  <title>Realtime Todo List</title>
</head>

<body onload="readUsers()">
  <nav class="navbar navbar-expand-lg navbar-dark ">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Index<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/add-users">User</a>
      <a class="nav-item nav-link" href="/user-page">Task List</a>
      <!-- <a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link disabled" href="#">Disabled</a> -->
    </div>
  </div>
</nav>
  <!-- <div class="navbar">
    <a class="navbar" href="/"> Index</a>
    <a class="navbar" href="/add-users"> Add Users</a>
    "userPage.html"  is the users view of the tasks
     <a class="navbar" href="/user-page"> Task Portal </a>
  </div> -->

  <div class="container">
  <div class="row rowone">

    <div class="w-100">
      <h1>Users</h1>
    </div>
        <div class="w-100">
    <div class="form color">
      <form action="/add-users" method="post">
        <h4> Add A User </h4>
        <input class="firstName" name="firstName" placeholder="First Name" autofocus="">
        <input class="lastName" name="lastName" placeholder="Last Name" autofocus=""> <br> <br>
        <input class="userType" type="radio" placeholder="Admin User" value="admin" name="userType"> Admin User
        <input class="userType" type="radio" placeholder="Standard User" value="standard" name="userType" checked> Standard User <br>
        <button class="btn btn-light submit" type="submit"> Submit </button>
      </form>
    </div>
      </div>

    <div class="w-100">
      <div class="form color">
        <table class="addedUsers">
          <h4> User Database </h4>
        </table>
    </div>

    </div>
    <footer class="footer"></footer>
  </div>
  </div>





</body>
</html>
