{% extends "base.html" %}

{% block body %}
<body onload="readItems()">
{% endblock %}

{% block content %}
  <div class="row">

    <div class="w-100">
      <h1>Base Tasks</h1>
    </div>
    <p>

      <form>
      <input class="time" placeholder="0:00" autofocus="" onkeypress="addItem(event)" >
      <input class="task" placeholder="Task" autofocus="" onkeypress="addItem(event)" >
      <input class="assignee" placeholder="Assignee" autofocus="" onkeypress="addItem(event)" >
      <input class="overdue" placeholder="Overdue" autofocus="" onkeypress="addItem(event)" >
      <input class="comment" placeholder="Comment" autofocus="" onkeypress="addItem(event)" >
      <input class="day" placeholder="Day" autofocus="" onkeypress="addItem(event)" >
      </form>
    </p>




      <table class="todo-list" style="width: 100%"></table>
      <form action="/copy-to-today" method="post">
        <button class="btn btn-light submit" type="submit"> Copy to todays tasks </button>
      </form>

  </div>
{% endblock %}
