{% extends "base.html" %}
{% block body %}
<body>
{% endblock %}
{% block content %}
  <div class="row">

    <div class="w-100">
      <h1>Login</h1>
    </div>


      {% if error %}
      <div class="row w-100">
        <p class=error><strong>Error:</strong> {{ error }}</p>
      </div>
      {% endif %}
      <div class="row w-100">
      <p>
        <form action="/login" method="post">
        <input name="username" class="username" placeholder="username" autofocus="">
        <input type="password" name="password" class="password" placeholder="password" autofocus="">
        <button type="submit"> Login </button>
        </form>
      </p>
    </div>
  </div>
{% endblock %}
