{% extends "base.html" %}
{% block body %}
<body class="big">
{% endblock %}
{% block content %}
  <div class="container-fluid">

    


      {% if error %}
      <div class="row w-100">
        <p class=error><strong>Error:</strong> {{ error }}</p>
      </div>
      {% endif %}
      <!-- <div class="row"> -->
      <div class="container index-div">
          <h3 class="index-h3">Login</h3>

          <form class="index-test" action="/login" method="post">
            <input name="username" class="username" placeholder="username" autofocus="">
            <input type="password" name="password" class="password" placeholder="password" autofocus="">
            <button class="login-button" type="submit"> Login </button>
          </form>


    </div>
  </div>
{% endblock %}
