<!-- ./templates/index.html -->
<html>
<head>
  <!-- link to the Todo MVC index.css file -->
  <link rel="stylesheet" href="/static/todomvc-app-css/index.css">
  <title>Realtime Todo List</title>
</head>

<body onload="readItems()">
  <section class="todoapp">
    <header class="header">
      <h1>Tasks</h1>
      <input class="new-todo" placeholder="What needs to be done?"
        autofocus="" onkeypress="addItem(event)">
    </header>

    <section class="main">
      <ul class="todo-list"></ul>
    </section>

    <footer class="footer"></footer>
  </section>
  <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
  <script src="/static/to-do-script.js"></script>



</body>
</html>
