<head>
  <script>
    function call_me() {
      fetch(`/ajax-call`)
      .then(function(response) {
        return response.json();
      })

    }
  </script>
  </head>
{% block body %}
{% if session['logged_in'] %}

You're logged in already!
<td><button class="btn btn-outline-danger btn-sm" onclick="call_me()">Delete</button></td>

{% else %}


<form action="/login" method="POST">
  <input type="username" name="username" placeholder="Username">
<input type="password" name="password" placeholder="Password">
<input type="submit" value="Log in">
</form>{% endif %}
{% endblock %}
