{% extends "base.html" %}

{% block body %}
<body onload="readTodaysItems()">
{% endblock %}

{% block content %}
<script type="text/javascript" charset="utf-8">
    console.log('trying to connect')
    var socket = io.connect('http://localhost:5000');

    socket.on('connect', function() {
        console.log("I'm connected")
        socket.emit('my event', {data: 'I\'m connected!'});
    });
    socket.on('completed', function(id) {
      console.log("Got completed message", id)
    })
</script>

  <div class="row w-100" onload="readTodaysItems()">

    <div class="w-100">
      <h1>Todays Tasks</h1>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg">
        <table class="everyone-todo-list" style="width: 100%">
        </table>
      </div>
      <div class="col-lg">
        <table class="me-todo-list" style="width: 100%">
        </table>
      </div>
      </div>
    </div>
    <footer class="footer"></footer>
  </div>
{% endblock %}
