{% extends "base.html" %}

{% block body %}
<body onload="readItems()">
{% endblock %}

{% block content %}
  <div class="container-fluid">

    <div class="w-100">
      <h1>Base Tasks</h1>
    </div>
    <div class="container tasksubmitform">
      <div>
        <form>
        <input class="time" placeholder=" 0:00" autofocus="" onkeypress="addItem(event)" >
        <input class="task" placeholder=" Task" autofocus="" onkeypress="addItem(event)" >
        <input class="assignee" placeholder=" Assignee" autofocus="" onkeypress="addItem(event)" >
        <input class="overdue" placeholder=" Overdue" autofocus="" onkeypress="addItem(event)" >
        <input class="comment" placeholder=" Comment" autofocus="" onkeypress="addItem(event)" >
        <input class="day" placeholder=" Day" autofocus="" onkeypress="addItem(event)" >
        </form>
        <form action="/copy-to-today" method="post">
        <button class="btn btn-light submit submitTasks" type="submit"> Copy to todays tasks </button>
        </form>
      </div>
      <!-- <div>
        <form action="/copy-to-today" method="post">
        <button class="btn btn-light submit submitTasks" type="submit"> Copy to todays tasks </button>
        </form>
      </div> -->
    </div>

    <div class="container-fluid basetasks">
      <!-- <form action="/copy-to-today" method="post">
        <button class="btn btn-light submit" type="submit"> Copy to todays tasks </button>
      </form> -->
      <table class="todo-list addedUsers" style="width: 100%">
        <thead>
          <tr><th>Time</th><th>Task</th><th>Overdue</th><th>Day</th><th></th><th></th><th> </th></tr>
          </thead>
      </table>
    </div>
  </div>
  <!--  -->
  <!--  -->
  <!-- MODAL BELOW THIS LINE -->
  <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">Edit Task</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      ...
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Save changes</button>
    </div>
  </div>
  </div>
  </div>


{% endblock %}
