{% extends "base.html" %}
{% block body %}
<body class="big">
{% endblock %}
{% block content %}
  <div class="container-fluid">




      {% if error %}
      <div class="row w-100">
        <p class=error><strong>Error:</strong> {{ error }}</p>
      </div>
      {% endif %}
      <!-- <div class="row"> -->
      <div class="container index-div">
          <h3 class="index-h3">Welcome</h3>
          <form action="" method="post" novalidate>
              {{ form.hidden_tag() }}
              <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}
              </p>
              <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}
              </p>
              <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
              <p>{{ form.submit() }}</p>
          </form>



    </div>
  </div>
{% endblock %}
