{% extends "base.html" %}

{% block body %}
<body onload="readTodaysItems()">
{% endblock %}

{% block content %}


  <div class="row w-100" onload="readTodaysItems()">

    <div class="w-100">
      <h1>Todays <span class='shift'></span> Tasks</h1>
    </div>
    
    <div class="container-fluid">
      <div class="row">

        <!-- Button trigger modal -->


        <div class="col-lg all-tasks-div">
          <table class="everyone-todo-list sortable" style="width: 100%">
            <thead>
              <tr><th>Date</th><th>Time</th><th>Shift</th><th>Task</th><th>Assignee</th><th>Overdue</th><th> </th></tr>
              </thead>
              <tbody class="everyone-todo-list-body">
                </tbody><tfoot></tfoot></table>
      </div>
      <div class="col-lg">
        <table class="me-todo-list sortable" style="width: 100%">
          <thead>
            <tr><th>Time</th><th>Task</th><th>Overdue</th><th> </th></tr>
          </thead>
          <tbody class="me-todo-list-body">
          </tbody>
          <tfoot></tfoot>
        </table>
      </div>
      </div>
    </div>
    <footer class="footer"></footer>
  </div>
{% endblock %}
